*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
/* .loading-bar{
    position:absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
} */
/* loading bar */
.loading-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px; /* Aumentamos el grosor para mayor impacto */
    background: linear-gradient(90deg, #ff00ff, #00ffff); /* Efecto de degradado */
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
    animation: pulseGlow 1.5s infinite alternate;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
    }
}


.loading-bar.loaded{
   
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}
/* point */
.point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    /* background: #ff00ff; */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s infinite alternate;
}

.point .label {
    position: relative;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000080;
    border: 2px solid #00ffff;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    cursor: help;
    transform: scale(0,0);
    transition: transform 0.3s;
}

.point .text {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
   padding: 20px;
    border-radius: 15px;
    background: #00000080;
    border: 2px solid #00ffff;
    color: white;
    text-align: center;
    line-height:1.3rem;
    font-weight: bold;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.point:hover .text{
    opacity: 1;
   
}

.point.visible .label {
    transform: scale(1,1);
}